<% include ./partials/header %>

<div class="container about-container">
	<h2> About this gallery </h2>
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<img src="https://res.cloudinary.com/thariqphoto/image/upload/v1573115685/thariqphoto/Capture2_ungsnw.png">
		</div>
		<div class="col-lg-6 col-sm-12">
			<p> 
				Hello! I'm Thariq Warsahemas, amateur photographer from Indonesia. Since child I've always love to gaze at sunset sky and love to capture it with camera. Currently I did photography as a hobby. 
			</p>
			<p>
				My main theme is landscape photography and Cityscape photography. I believe that even non-living things like mountain and monument have story to tell by their own ways. My job is to capture those story in the best way I can do and share it to you. I hope my work can relief you from stress and inspire more to look at good side of our world!
			</p>
			<br>
			<p>
				Enjoy my gallery and have a good day!
			</p>
			<p>
				Thariq Warsahemas
			</p>
		</div>
	</div>
</div>

<% include ./partials/footer %>

